@model IEnumerable<WhereIsMyStuff.Models.Entry>



    <div class="container app-name">
        <h1>Where is my Stuff???</h1>
        <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("Create", "Entries")'">Add Entry</button>
    </div>

<div class="container-fluid">
    <ul>
        <li>
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header">
                        @Html.DisplayFor(modelItem => item.Item)
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.DateBorrowed.Month)/@Html.DisplayFor(modelItem => item.DateBorrowed.Day)/@Html.DisplayFor(modelItem => item.DateBorrowed.Year)</h4>
                        <p class="card-text">Type:  @Html.DisplayFor(modelItem => item.ItemType)</p>
                        <p class="card-text">Condition:  @Html.DisplayFor(modelItem => item.ItemCondition)</p>
                        <p class="card-text">Notes:  @Html.DisplayFor(modelItem => item.Notes)</p>
                        <p class="card-text">Borrower:  @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</p>
                    </div>
                    <div class="card-footer">
                       Borrowerd @DateTime.Now.Subtract(item.DateBorrowed).Days days ago | @Html.ActionLink("Edit", "Edit", new { @id = item.Entry_Id }) | @Html.ActionLink("Delete", "Delete", new { @id = item.Entry_Id })
                    </div>
                </div>
                <br>
                <br>
            }                
        </li>
    </ul>
</div>




